@page
@model Use_API.Pages.Employees.IndexModel
@{

}


<div class="text-center">
    <div class="container row p-0 m-0">
        <div class="col-9">
            <h2 class="text-info">Genres List</h2>
        </div>

        <div class="col-12 border p-3 mt-3">

            @if (Model.Employees.Count() > 0)
            {
                <table class="table table-striped border">
                    <thead>
                        <tr class="table-secondary">
                        <th>
                            <label asp-for="Employees.FirstOrDefault().FirstName"></label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().LastName"></label>
                        </th>
                        <th>
                            <label>Department</label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().Title"></label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().TitleOfCourtesy"></label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().BirthDate"></label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().HireDate"></label>
                        </th>
                        <th>
                            <label asp-for="Employees.FirstOrDefault().Address"></label>
                        </th>
                        <th>
                            <label>Aciton</label>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Employees)
                        {
                            var itemName = "#edit" + item.EmployeeId;
                            var itemName1 = "edit" + item.EmployeeId;
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.DepartmentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.TitleOfCourtesy)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.BirthDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.HireDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => item.Address)
                                </td>
                                <td>
                                    <form method="post">
                                        <button asp-page-handler="Delete" asp-route-id="@item.EmployeeId" onclick="return confirm('Delete this film will delete all related comment. Are you sure?')" class="btn btn-danger btn-sm">Delete</button>
                                        <a asp-page="./Edit" asp-route-id="@item.EmployeeId">Edit</a>
                                    </form>
                                </td>
                            </tr>

                            @*<div id="@itemName1" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>No Genres to show</p>
            }
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>
        </div>
    </div>
</div>
